<%= simple_form_for(@deduction) do |f| %>
<%= f.error_notification  %>

<div class="form-inputs">
  <%= f.input :expense %>
  <%= f.input :description %>
  <%= f.input :amount %>
  <%= f.input :category, collection: ["Vehicle", "Other Travel", "Clothing & Laundry", "Home office", "Self-education", "Tools/equipment", "Other work", "Charity"] %>
  <%= f.input :year, collection: [2017, 2018, 2019, 2020] %>
  <%= f.file_field :image, accept: "image/png, image/jpg, image/jpeg"%>
</div>

<div class="form-action">
  <%= f.button :submit, class: "btn btn-outline-primary" %>
</div>
<% end %>
