<%= form_with(model: deduction, local: true) do |form| %>
  <% if deduction.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(deduction.errors.count, "error") %> prohibited this deduction from being saved:</h2>

      <ul>
        <% deduction.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :expense %>
    <%= form.text_field :expense %>
  </div>

  <div class="field">
    <%= form.label :description %>
    <%= form.text_area :description %>
  </div>

  <div class="field">
    <%= form.label :amount %>
    <%= form.text_field :amount %>
  </div>

  <div class="field">
    <%= form.label :category %>
    <%= form.text_field :category %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
